In [1]:
x = [1.1, 2.2, 3.3, 4.4, 5.5, 6.6]

6-element Array{Float64,1}:
 1.1
 2.2
 3.3
 4.4
 5.5
 6.6

In [8]:
b = [1,2, NaN]

3-element Array{Float64,1}:
   1.0
   2.0
 NaN

In [13]:
#missing型
missing

missing

In [15]:
typeof(missing) #型を調べるときはtypeof()

Missing

In [17]:
x = [1, 2, missing]

3-element Array{Union{Missing, Int64},1}:
 1
 2
  missing

In [18]:
skipmissing(x)

skipmissing(Union{Missing, Int64}[1, 2, missing])

In [25]:
collect(skipmissing(x))

2-element Array{Int64,1}:
 1
 2

In [24]:
typeof(s)

Array{Int64,1}

In [29]:
using DataFrames

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1278

In [30]:
df = DataFrame(Name = ["mikan", "orange"], price=[120, 105], count=[4,7])

2×3 DataFrame
 Row │ Name    price  count
     │ String  Int64  Int64
─────┼──────────────────────
   1 │ mikan     120      4
   2 │ orange    105      7

In [32]:
using RDatasets

iris = dataset("datasets", "iris")

150×5 DataFrame
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼─────────────────────────────────────────────────────────────
   1 │         5.1         3.5          1.4         0.2  setosa
   2 │         4.9         3.0          1.4         0.2  setosa
   3 │         4.7         3.2          1.3         0.2  setosa
   4 │         4.6         3.1          1.5         0.2  setosa
   5 │         5.0         3.6          1.4         0.2  setosa
   6 │         5.4         3.9          1.7         0.4  setosa
   7 │         4.6         3.4          1.4         0.3  setosa
   8 │         5.0         3.4          1.5         0.2  setosa
   9 │         4.4         2.9          1.4         0.2  setosa
  10 │         4.9         3.1          1.5         0.1  setosa
  11 │         5.4         3.7          1.5         0.2  setosa
  ⋮  │      ⋮           ⋮            ⋮           ⋮           ⋮
 141 │         6.7         3.1          5.6         2.4  virginica
 142 │         6.9         3.1          5.1         2.3  virginica
 143 │         5.8         2.7          5.1         1.9  virginica
 144 │         6.8         3.2          5.9         2.3  virginica
 145 │         6.7         3.3          5.7         2.5  virginica
 146 │         6.7         3.0          5.2         2.3  virginica
 147 │         6.3         2.5          5.0         1.9  virginica
 148 │         6.5         3.0          5.2         2.0  virginica
 149 │         6.2         3.4          5.4         2.3  virginica
 150 │         5.9         3.0          5.1         1.8  virginica
                                                   129 rows omitted

In [39]:
#DataFrameをファイルに書き出し
using CSV

CSV.write("output.csv", iris)

"output.csv"

In [8]:
using DataFrames
using CSV


accidents = CSV.File("dataset/Data_Accidents_2018.csv") |> DataFrame #juliaでcsvをデータフレームとして読み込む
# Data_Vehicles_2018.csv
# vehicles = CSV.read("dataset/Data_Vehicles_2018.csv", header=true, delim=',')

122635×32 DataFrame
    Row │ Accident_Index  Location_Easting_OSGR  Location_Northing_OSGR  Longi ⋯
        │ String          Union{Missing, Int64}  Union{Missing, Int64}   Float ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │ 2018010080971                  529150                  182270  -0.13 ⋯
      2 │ 2018010080973                  542020                  184290   0.04
      3 │ 2018010080974                  531720                  182910  -0.10
      4 │ 2018010080981                  541450                  183220   0.03
      5 │ 2018010080982                  543580                  176500   0.06 ⋯
      6 │ 2018010080983                  526060                  194910  -0.17
      7 │ 2018010080986                  525050                  181050  -0.19
      8 │ 2018010080987                  536710                  176960  -0.03
      9 │ 2018010080990                  517110                  186280  -0.31 ⋯
     10 │ 2018010080992                  535450                  181190  -0.04
     11 │ 2018010080993                  534590                  183230  -0.06
   ⋮    │       ⋮                   ⋮                      ⋮                 ⋮ ⋱
 122626 │ 2018984115118                  336343                  584662  -3.00
 122627 │ 2018984115218                  303700                  611260  -3.52 ⋯
 122628 │ 2018984115318                  308374                  599895  -3.44
 122629 │ 2018984115418                  308481                  601469  -3.44
 122630 │ 2018984115518                  308354                  599190  -3.44
 122631 │ 2018984115718                  307124                  594145  -3.46 ⋯
 122632 │ 2018984115918                  313325                  581065  -3.36
 122633 │ 2018984116018                  319337                  574511  -3.26
 122634 │ 2018984116318                  318858                  566932  -3.26
 122635 │ 2018984116418                  316008                  568771  -3.31 ⋯
                                              29 columns and 122614 rows omitted

In [ ]:
accidents