In [1]:
x = [1.1, 2.2, 3.3, 4.4, 5.5, 6.6]

6-element Array{Float64,1}:
 1.1
 2.2
 3.3
 4.4
 5.5
 6.6

In [2]:
b = [1,2, NaN]

3-element Array{Float64,1}:
   1.0
   2.0
 NaN

In [3]:
#missing型
missing

missing

In [4]:
typeof(missing) #型を調べるときはtypeof()

Missing

In [5]:
x = [1, 2, missing]

3-element Array{Union{Missing, Int64},1}:
 1
 2
  missing

In [6]:
skipmissing(x)

skipmissing(Union{Missing, Int64}[1, 2, missing])

In [7]:
collect(skipmissing(x))

2-element Array{Int64,1}:
 1
 2

In [15]:
using DataFrames

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1278

In [16]:
df = DataFrame(Name = ["mikan", "orange"], price=[120, 105], count=[4,7])

2×3 DataFrame
 Row │ Name    price  count
     │ String  Int64  Int64
─────┼──────────────────────
   1 │ mikan     120      4
   2 │ orange    105      7

In [17]:
using RDatasets

iris = dataset("datasets", "iris")

┌ Info: Precompiling RDatasets [ce6b1742-4840-55fa-b093-852dadbb1d8b]
└ @ Base loading.jl:1278

150×5 DataFrame
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼─────────────────────────────────────────────────────────────
   1 │         5.1         3.5          1.4         0.2  setosa
   2 │         4.9         3.0          1.4         0.2  setosa
   3 │         4.7         3.2          1.3         0.2  setosa
   4 │         4.6         3.1          1.5         0.2  setosa
   5 │         5.0         3.6          1.4         0.2  setosa
   6 │         5.4         3.9          1.7         0.4  setosa
   7 │         4.6         3.4          1.4         0.3  setosa
   8 │         5.0         3.4          1.5         0.2  setosa
   9 │         4.4         2.9          1.4         0.2  setosa
  10 │         4.9         3.1          1.5         0.1  setosa
  11 │         5.4         3.7          1.5         0.2  setosa
  ⋮  │      ⋮           ⋮            ⋮           ⋮           ⋮
 141 │         6.7         3.1          5.6         2.4  virginica
 142 │         6.9         3.1          5.1         2.3  virginica
 143 │         5.8         2.7          5.1         1.9  virginica
 144 │         6.8         3.2          5.9         2.3  virginica
 145 │         6.7         3.3          5.7         2.5  virginica
 146 │         6.7         3.0          5.2         2.3  virginica
 147 │         6.3         2.5          5.0         1.9  virginica
 148 │         6.5         3.0          5.2         2.0  virginica
 149 │         6.2         3.4          5.4         2.3  virginica
 150 │         5.9         3.0          5.1         1.8  virginica
                                                   129 rows omitted

In [22]:
#DataFrameをファイルに書き出し
using CSV

CSV.write("output.csv", iris)

"output.csv"

In [53]:
using DataFrames
using CSV


accidents = CSV.File("dataset/Data_Accidents_2018.csv") |> DataFrame #juliaでcsvをデータフレームとして読み込む

sdf_ = view(accidents, 1:3, 1:10)

3×10 SubDataFrame
 Row │ Accident_Index  Location_Easting_OSGR  Location_Northing_OSGR  Longitud ⋯
     │ String          Union{Missing, Int64}  Union{Missing, Int64}   Float64? ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 2018010080971                  529150                  182270  -0.13973 ⋯
   2 │ 2018010080973                  542020                  184290   0.04647
   3 │ 2018010080974                  531720                  182910  -0.10247
                                                               7 columns omitted

In [54]:

vehicles = CSV.File("dataset/Data_Vehicles_2018.csv") |> DataFrame #juliaでcsvをデータフレームとして読み込む

sdf = view(vehicles, 1:3, 1:10)

3×10 SubDataFrame
 Row │ Accident_Index  Vehicle_Reference  Vehicle_Type  Towing_and_Articulatio ⋯
     │ String          Int64              Int64         Int64                  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 2018010080971                   1             9                         ⋯
   2 │ 2018010080971                   2             8
   3 │ 2018010080973                   1             9
                                                               7 columns omitted

In [48]:
column = names(vehicles)

23-element Array{String,1}:
 "Accident_Index"
 "Vehicle_Reference"
 "Vehicle_Type"
 "Towing_and_Articulation"
 "Vehicle_Manoeuvre"
 "Vehicle_Location-Restricted_Lane"
 "Junction_Location"
 "Skidding_and_Overturning"
 "Hit_Object_in_Carriageway"
 "Vehicle_Leaving_Carriageway"
 "Hit_Object_off_Carriageway"
 "1st_Point_of_Impact"
 "Was_Vehicle_Left_Hand_Drive?"
 "Journey_Purpose_of_Driver"
 "Sex_of_Driver"
 "Age_of_Driver"
 "Age_Band_of_Driver"
 "Engine_Capacity_(CC)"
 "Propulsion_Code"
 "Age_of_Vehicle"
 "Driver_IMD_Decile"
 "Driver_Home_Area_Type"
 "Vehicle_IMD_Decile"

In [57]:
outer_join = outerjoin(accidents, vehicles, on=:Accident_Index, matchmissing=:equal) #完全外部結合かな？

226409×54 DataFrame
    Row │ Accident_Index  Location_Easting_OSGR  Location_Northing_OSGR  Longi ⋯
        │ String?         Union{Missing, Int64}  Union{Missing, Int64}   Float ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │ 2018010080971                  529150                  182270  -0.13 ⋯
      2 │ 2018010080971                  529150                  182270  -0.13
      3 │ 2018010080973                  542020                  184290   0.04
      4 │ 2018010080974                  531720                  182910  -0.10
      5 │ 2018010080974                  531720                  182910  -0.10 ⋯
      6 │ 2018010080981                  541450                  183220   0.03
      7 │ 2018010080981                  541450                  183220   0.03
      8 │ 2018010080982                  543580                  176500   0.06
      9 │ 2018010080982                  543580                  176500   0.06 ⋯
     10 │ 2018010080983                  526060                  194910  -0.17
     11 │ 2018010080983                  526060                  194910  -0.17
   ⋮    │       ⋮                   ⋮                      ⋮                 ⋮ ⋱
 226400 │ 2018984115518                  308354                  599190  -3.44
 226401 │ 2018984115718                  307124                  594145  -3.46 ⋯
 226402 │ 2018984115718                  307124                  594145  -3.46
 226403 │ 2018984115918                  313325                  581065  -3.36
 226404 │ 2018984115918                  313325                  581065  -3.36
 226405 │ 2018984116018                  319337                  574511  -3.26 ⋯
 226406 │ 2018984116018                  319337                  574511  -3.26
 226407 │ 2018984116018                  319337                  574511  -3.26
 226408 │ 2018984116318                  318858                  566932  -3.26
 226409 │ 2018984116418                  316008                  568771  -3.31 ⋯
                                              51 columns and 226388 rows omitted

In [56]:
inner_join = innerjoin(accidents, vehicles, on=:Accident_Index, matchmissing=:equal)

226409×54 DataFrame
    Row │ Accident_Index  Location_Easting_OSGR  Location_Northing_OSGR  Longi ⋯
        │ String          Union{Missing, Int64}  Union{Missing, Int64}   Float ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │ 2018010080971                  529150                  182270  -0.13 ⋯
      2 │ 2018010080971                  529150                  182270  -0.13
      3 │ 2018010080973                  542020                  184290   0.04
      4 │ 2018010080974                  531720                  182910  -0.10
      5 │ 2018010080974                  531720                  182910  -0.10 ⋯
      6 │ 2018010080981                  541450                  183220   0.03
      7 │ 2018010080981                  541450                  183220   0.03
      8 │ 2018010080982                  543580                  176500   0.06
      9 │ 2018010080982                  543580                  176500   0.06 ⋯
     10 │ 2018010080983                  526060                  194910  -0.17
     11 │ 2018010080983                  526060                  194910  -0.17
   ⋮    │       ⋮                   ⋮                      ⋮                 ⋮ ⋱
 226400 │ 2018984115518                  308354                  599190  -3.44
 226401 │ 2018984115718                  307124                  594145  -3.46 ⋯
 226402 │ 2018984115718                  307124                  594145  -3.46
 226403 │ 2018984115918                  313325                  581065  -3.36
 226404 │ 2018984115918                  313325                  581065  -3.36
 226405 │ 2018984116018                  319337                  574511  -3.26 ⋯
 226406 │ 2018984116018                  319337                  574511  -3.26
 226407 │ 2018984116018                  319337                  574511  -3.26
 226408 │ 2018984116318                  318858                  566932  -3.26
 226409 │ 2018984116418                  316008                  568771  -3.31 ⋯
                                              51 columns and 226388 rows omitted

In [58]:
using DataFrames
using CSV

In [60]:
# [x for x in 1:4]
[x for x in 1:4]

4-element Array{Int64,1}:
 1
 2
 3
 4

In [62]:
# julia for
for x in 1:4
    println(x)
end

1
2
3
4

In [63]:
for x in 1:20
    println(x)
end

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [69]:
using RDatasets

iris = dataset("datasets", "iris") #データフレームで読み込んだのは母集団
sdif = view(iris, 1:3, 1:3)

3×3 SubDataFrame
 Row │ SepalLength  SepalWidth  PetalLength
     │ Float64      Float64     Float64
─────┼──────────────────────────────────────
   1 │         5.1         3.5          1.4
   2 │         4.9         3.0          1.4
   3 │         4.7         3.2          1.3

In [71]:
names(iris) #データフレームのカラムを抽出

5-element Array{String,1}:
 "SepalLength"
 "SepalWidth"
 "PetalLength"
 "PetalWidth"
 "Species"

In [81]:
SepalLength = iris[!, "SepalLength"]
#スライスする時はviewを使う
view(SepalLength, 1:5)

5-element view(::Array{Float64,1}, 1:5) with eltype Float64:
 5.1
 4.9
 4.7
 4.6
 5.0

In [83]:
using StatsBase

┌ Info: Precompiling StatsBase [2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91]
└ @ Base loading.jl:1278

6.8

In [86]:
sample(SepalLength, 5)

5-element Array{Float64,1}:
 6.7
 6.3
 6.7
 6.6
 4.9