In [1]:
x = [1.1, 2.2, 3.3, 4.4, 5.5, 6.6]

6-element Array{Float64,1}:
 1.1
 2.2
 3.3
 4.4
 5.5
 6.6

In [8]:
b = [1,2, NaN]

3-element Array{Float64,1}:
   1.0
   2.0
 NaN

In [13]:
#missing型
missing

missing

In [15]:
typeof(missing) #型を調べるときはtypeof()

Missing

In [17]:
x = [1, 2, missing]

3-element Array{Union{Missing, Int64},1}:
 1
 2
  missing

In [18]:
skipmissing(x)

skipmissing(Union{Missing, Int64}[1, 2, missing])

In [25]:
collect(skipmissing(x))

2-element Array{Int64,1}:
 1
 2

In [24]:
typeof(s)

Array{Int64,1}

In [29]:
using DataFrames

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1278

In [30]:
df = DataFrame(Name = ["mikan", "orange"], price=[120, 105], count=[4,7])

2×3 DataFrame
 Row │ Name    price  count
     │ String  Int64  Int64
─────┼──────────────────────
   1 │ mikan     120      4
   2 │ orange    105      7

In [32]:
using RDatasets

iris = dataset("datasets", "iris")

150×5 DataFrame
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼─────────────────────────────────────────────────────────────
   1 │         5.1         3.5          1.4         0.2  setosa
   2 │         4.9         3.0          1.4         0.2  setosa
   3 │         4.7         3.2          1.3         0.2  setosa
   4 │         4.6         3.1          1.5         0.2  setosa
   5 │         5.0         3.6          1.4         0.2  setosa
   6 │         5.4         3.9          1.7         0.4  setosa
   7 │         4.6         3.4          1.4         0.3  setosa
   8 │         5.0         3.4          1.5         0.2  setosa
   9 │         4.4         2.9          1.4         0.2  setosa
  10 │         4.9         3.1          1.5         0.1  setosa
  11 │         5.4         3.7          1.5         0.2  setosa
  ⋮  │      ⋮           ⋮            ⋮           ⋮           ⋮
 141 │         6.7         3.1          5.6         2.4  virginica
 142 │         6.9         3.1          5.1         2.3  virginica
 143 │         5.8         2.7          5.1         1.9  virginica
 144 │         6.8         3.2          5.9         2.3  virginica
 145 │         6.7         3.3          5.7         2.5  virginica
 146 │         6.7         3.0          5.2         2.3  virginica
 147 │         6.3         2.5          5.0         1.9  virginica
 148 │         6.5         3.0          5.2         2.0  virginica
 149 │         6.2         3.4          5.4         2.3  virginica
 150 │         5.9         3.0          5.1         1.8  virginica
                                                   129 rows omitted

In [39]:
#DataFrameをファイルに書き出し
using CSV

CSV.write("output.csv", iris)

"output.csv"

In [38]:
using CSV

accidents = CSV.read("dataset/Data_Accidents_2018.csv")
# Data_Vehicles_2018.csv
vehicles = CSV.read("dataset/Data_Vehicles_2018.csv")

LoadError: UndefVarError: writetable not defined